body { font-family: Arial; }
        label { display: inline-block; }

        .row { margin: 2px 0px 2px 0px; }
        .heading-row
        {
            margin: 20px 0px 10px 0px;
            font-size: large;
        }
        .editor-row { margin: 10px 0px 10px 0px; }
        .heading-label, .row-label, .row-control
        {
            width: 200px;
            margin: 0px 5px 0px 5px;
        }
         .date-row-control 
        {
            width: 200px;
            margin: 10px 0px 0px 15px;
        }