.label-container {
            margin: 5px 0;
        }

            .label-container span {
                display: block;
                float: left;
                width: 170px;
                margin-bottom: 5px;
            }

        .clear-floating {
            clear: both;
        }

        span[id^="combo"] {
            margin-right: 15px;
        }

        #state, #stateCascading {
            display: none;
        }

        {
            display: none;
        }

        .group-container {
            padding: 10px;
            margin-bottom: 10px;
        }

        .group-title {
            font-weight: bold;
        }