.select-editable { position:relative; background-color:white; border:solid grey 1px;  width:60px; height:18px; }
        .select-editable select { position:absolute; top:0px; left:0px; font-size:14px; width:60px;height:18px; margin:0; }
        .select-editable input { position:absolute; top:0px; left:0px; width:38px; padding:1px; font-size:12px;height:16px; border:none; }
        .select-editable select:focus, .select-editable input:focus { outline:none; }